{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{% set classes = [
  view_mode ? 'taxonomy--view-mode--' ~ view_mode|clean_class,
  'm-card',
  'm-card--event',
  'm-card--event-listing'
]%}

<article id="node-{{ node.id }}" {{ attributes.addClass(classes) }}>
    <div{{ content_attributes.addClass('m-card-section') }}>
        <div class="row">

            <div class="column column-title">
              <a href="{{ url }}">{{ term.getName() }}</a>
            </div>

            <div class="column column-empty"></div>
            <div class="column column-empty"></div>

            <div class="column column-button">
              {% include directory ~ '/templates/macros/button.html.twig' with {'buttonStyle' : 'theme_2', 'url' : url, linkText: 'See Workshop Details'} %}
            </div>

        </div>
    </div>
</article>