{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{#
{% import _self as menus %}

&#123;&#35;
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
&#35;&#125;

<!-- Navigation -->
<div class="m-header-right">
  <nav role="navigation">

    <!-- Secondary Navigation -->
    {{ menus.menu_links(items, attributes, 0) }}

    {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}

    {% if items %}

    {% if menu_level == 0 %}
    <ul{{ attributes.addClass('menu', 'm-menu--secondary', 'dropdown').setAttribute('data-dropdown-menu', '').setAttribute('data-hover-delay', '10') }}>
      {% else %}
      <ul{{ attributes.addClass('menu', 'm-menu--secondary', 'dropdown').setAttribute('data-dropdown-menu', '').setAttribute('data-hover-delay', '10') }}>
        {% endif %}

        {% for item in items %}

          {% if item.below %}
            <li {{ item.attributes }}>
              <a href="{{ item.url }}">{{ item.title }}</a>
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            </li>
          {% else %}
            <li{{ item.attributes }}>

              {% if menu_level > 0 %}
                {% if item.url.isRouted() %}
                  {% if item.url.getInternalPath() == "" %}
                    <a href="/">{{ item.title }}</a>
                  {% else %}
                    {{ link(item.title, item.url) }}
                  {% endif %}
                {% else %}
                  {{ link(item.title, item.url) }}
                {% endif %}
              {% else %}
                {{ link(item.title, item.url) }}
              {% endif %}

            </li>
          {% endif %}
        {% endfor %}

      </ul>

      {% endif %}
{% endmacro %}#}

{# hardcoding top menu for now #}
{% spaceless %}
<div class="m-header-right"{{ item.attributes }}>
  <nav role="navigation">

    <!-- Secondary Navigation -->


    <ul class="menu m-menu--secondary dropdown" data-dropdown-menu data-hover-delay="10" role="menubar">


      <li role="menuitem"  class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Our Services">
        <a href="{{ path('<front>') }}">{{ 'Main Site'|trans }}</a>

        <ul class="menu m-menu--secondary dropdown submenu is-dropdown-submenu first-sub vertical" data-dropdown-menu="ohknrn-dropdown-menu" data-hover-delay="10" data-submenu="" role="menubar">

          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
            <a href="/3i-platform" title="" id="" name="" rel="" style="" target="" accesskey="" data-drupal-link-system-path="node/19072">{{ 'Our Products'|trans }}</a> </li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
            <a href="/our-company" title="" id="" name="" rel="" style=""
               target="" accesskey="" data-drupal-link-system-path="node/431">{{ 'Our Company'|trans }}</a>
          </li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
            <a href="/partners" title="" id="" name="" rel="" style="" target="" accesskey="" data-drupal-link-system-path="node/19041">{{ 'Partner'|trans }}</a></li>
          <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
            <a href="/learn-overview" title="" id="" name="" rel="" style="" target="" accesskey=""  data-drupal-link-system-path="node/461">{{ 'Learn'|trans }}</a>  </li>


        </ul>



      <li role="menuitem">
        <a href="{{ path('entity.node.canonical', {'node': '136'}) }}" title="" id="" name="" rel="" style="" target="" accesskey="" data-drupal-link-system-path="node/136">{{ 'Contact Us'|trans }}</a>                          </li>

    </ul>
      {% endspaceless %}
